<header class="header black-bg">

  <div class="nav notify-row" id="top_menu">
    <ul class="nav navbar-header">
      <li><a routerLink="home-component" routerLinkActive="active" class="logo"><b><span>STRONA GŁÓWNA</span></b></a></li>
      <li><a routerLink="blog" routerLinkActive="active" class="logo"><b>Blog</b></a></li>
      <li><a routerLink="quiz" routerLinkActive="active" class="logo"><b>Quiz</b></a></li>
      <li><a routerLink="contact" routerLinkActive="active" class="logo"><b>Kontakt</b></a></li>
    </ul>
  </div>
</header>
